@use "@shared/styles/index" as m;

.loader {
  border: 4px solid #fff;
  border-top: 4px solid var(--color-primary);
  border-radius: 50%;
  width: m.toRem(24);
  height: m.toRem(24);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}