@use "@shared/styles/index" as m;

.header {
  background: url("@/shared/assets/img/header.png") center / cover no-repeat;

  // .header__container

  &__container {
    padding-top: m.toRem(60);

    padding-bottom: m.toRem(60);
    height: m.toRem(200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: m.toRem(7) m.toRem(20);

    @media (max-width: m.toEm(992)) {
      padding-top: m.toRem(15);
      padding-bottom: m.toRem(15);
      gap: m.toRem(7) m.toRem(15);
    }
    @media (max-width: m.toEm(640)) {
      gap: m.toRem(7) m.toRem(10);
    }
  }

  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--second-family);
    gap: m.toRem(20);
    color: var(--white);
    font-size: clamp(m.toRem(35), 8vw, m.toRem(60));
    font-weight: 700;
    line-height: 90%;
    text-transform: uppercase;
    &::after {
      content: "";
      width: 26%;
      background: var(--color-primary);
      height: m.toRem(2);
    }
  }
}
